.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid grey;
    flex-direction: column;
    height: 350px ;
    margin-bottom: 10px;
}


.start-button { 
    margin: 0 auto;
    height: 100px;
    width: 200px;
    font-size: 30px;
    background-color: seagreen;
    color: white;
}