.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border: 1px solid grey;
    display: flex;
    height: 350px ;
    margin-bottom: 10px;
    padding: 10px;
}


.choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

}

.start-button { 
    margin: 0 auto;
    height: 100px;
    width: 200px;
    font-size: 30px;
    background-color: seagreen;
    color: white;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timer {
    position: relative;
    justify-content: right;
    text-align: right;
}